@charset "utf-8";

@import '@nami//styles/basis';

.nami-radio {
    display: inline-flex;
    align-items: baseline;
    cursor: pointer;

    @at-root .nami-radio__cell {
        display: block;
        width: var(--nami-radio-size-base);
        height: var(--nami-radio-size-base);
        margin-right: calc(var(--distance-horizontal) * 0.4);
        align-self: center;

        position: relative;
    }

    @at-root .nami-radio__cell__frame {
        display: block;
        @include size(100%);

        border: 1px solid var(--line-color);
        border-radius: 50%;
        background-color: transparent;

        transition: all 0.2s;
    }

    @at-root .nami-radio__cell__check {
        @include position(absolute, 4px, 1);
        @include size(calc(var(--nami-radio-size-base) - 8px));

        background: var(--primary-color);
        border-radius: 50%;

        opacity: 0;
        transform: scale(0);

        transition: all 0.15s;
    }

    @at-root .nami-radio__cell__input {
        @include position(absolute, 0px, 2);
        @include size(100%);
        margin: 0;
        padding: 0;
        opacity: 0;
        cursor: pointer;
    }

    // interaction
    // ---------------------------

    &:hover {
        .nami-radio__cell__frame {
            border-color: var(--primary-color);
        }
    }

    @at-root .nami-radio__cell__input:checked {
        ~ .nami-radio__cell__frame {
            border-color: var(--primary-color);
        }

        ~ .nami-radio__cell__check {
            opacity: 1;
            transform: scale(1);
        }
    }

    // state
    // ---------------------------

    @each $name in success, warning, danger {
        @at-root .nami-radio--#{$name} {
            .nami-radio__cell__frame {
                border-color: var(--#{$name}-color);
            }

            .nami-radio__cell__check {
                background: var(--#{$name}-color);
            }

            &:hover {
                .nami-radio__cell__frame {
                    border-color: var(--#{$name}-color);
                }
            }

            .nami-radio__cell__input:checked {
                ~ .nami-radio__cell__frame {
                    border-color: var(--#{$name}-color);
                }
            }
        }
    }

    // state
    // ---------------------------

    &--disabled {
        color: var(--text-color-quiet);
        pointer-events: none;
        opacity: 0.5;

        .nami-radio__cell__frame {
            border-color: var(--line-color);
            background: var(--background-color-loud);
        }

        .nami-radio__cell__check {
            background: var(--line-color);
        }
    }

    &--disabled {
        .nami-radio__cell__input:checked {
            ~ .nami-radio__cell__frame {
                border-color: var(--line-color);
                background: transparent;
            }
        }
    }
}
