{
    "presets": [["@babel/preset-env", {
        "modules": false,
        "targets": {
            "browsers": [
                "last 2 versions",
                "chrome >= 49",
                "firefox >= 42",
                "safari >= 9.1",
                "opera >= 36",
                "edge >= 16",
                "ios >= 12",
                "android >= 9.0",
                "and_chr >= 49",
                "and_uc >= 11.8",
                "samsung >= 5"
            ]
        }
    }]],
    "plugins": [
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-proposal-nullish-coalescing-operator"
    ]
}
