/*! Rio - v0.4.0 - Bios Sun <biossun@gmail.com> - https://github.com/BiosSun/rio
    ========================================================================== */
.rio tfoot, .rio small {
  font-size: 90%;
  color: var(--text-color-quiet);
}

.rio h1, .rio h2, .rio h3, .rio h4, .rio h5, .rio h6,
.rio p, .rio pre, .rio ul, .rio ol, .rio dl, .rio table, .rio form, .rio hr,
.rio .rio-block {
  margin-top: 1.27em;
  margin-bottom: 1.27em;
}

.rio {
  font-size: var(--font-size-base);
  line-height: 1.75;
}
.rio > *:first-child, .rio p > *:first-child, .rio li > *:first-child, .rio th > *:first-child, .rio td > *:first-child, .rio dt > *:first-child, .rio dd > *:first-child, .rio blockquote > *:first-child {
  margin-top: 0;
}
.rio > *:last-child, .rio p > *:last-child, .rio li > *:last-child, .rio th > *:last-child, .rio td > *:last-child, .rio dt > *:last-child, .rio dd > *:last-child, .rio blockquote > *:last-child {
  margin-bottom: 0;
}
.rio address, .rio caption, .rio cite, .rio code, .rio em, .rio th, .rio dfn, .rio var {
  font-weight: 400;
}
.rio code, .rio pre, .rio var {
  font-family: var(--monospace-font-family);
}
.rio a {
  color: var(--link-color);
  text-decoration: none;
}
.rio a:hover {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-position: under;
}
.rio a:focus {
  outline: 1px dotted var(--text-color-quiet);
  text-decoration: none;
}
.rio a:visited {
  color: var(--link-visited-color);
}
.rio a:hover {
  color: var(--link-focus-color);
}
.rio a:focus {
  color: var(--link-focus-color);
}
.rio a:active {
  color: var(--link-focus-color);
}
.rio b, .rio strong {
  font-weight: 700;
}
.rio i, .rio em {
  font-style: italic;
  margin-right: 0.2em;
}
.rio sup, .rio sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  vertical-align: text-top\9 ;
  margin-right: 0.2em;
}
.rio sup {
  top: -0.5em;
}
.rio sub {
  bottom: -0.25em;
}
.rio mark {
  background: #fffda0;
  padding: 1px 0;
}
.rio abbr {
  cursor: help;
  border-bottom: 1px dotted;
}
.rio q {
  color: var(--text-color-quiet);
}
.rio code {
  font-size: var(--font-size-small);
  background: var(--background-color-loud);
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  white-space: nowrap;
  position: relative;
  top: -1px;
}
.rio img {
  max-width: 100%;
  vertical-align: middle;
}
.rio h1, .rio h2, .rio h3, .rio h4, .rio h5, .rio h6 {
  font-weight: 600;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.rio h1 a, .rio h2 a, .rio h3 a, .rio h4 a, .rio h5 a, .rio h6 a {
  color: inherit;
  border-bottom: 1px dotted;
}
.rio h1 a:hover, .rio h1 a:focus, .rio h2 a:hover, .rio h2 a:focus, .rio h3 a:hover, .rio h3 a:focus, .rio h4 a:hover, .rio h4 a:focus, .rio h5 a:hover, .rio h5 a:focus, .rio h6 a:hover, .rio h6 a:focus {
  text-decoration: none;
  color: var(--link-color);
}
.rio h1 small, .rio h2 small, .rio h3 small, .rio h4 small, .rio h5 small, .rio h6 small {
  font-size: 70%;
  font-weight: 500;
}
.rio h1 code, .rio h2 code, .rio h3 code, .rio h4 code, .rio h5 code, .rio h6 code {
  font-weight: inherit;
  font-size: inherit;
  background: none;
  padding: 0;
  border-radius: 0;
  white-space: normal;
  position: static;
  top: 0;
}
.rio h1 {
  font-size: 2.2em;
}
.rio h2 {
  font-size: 1.8em;
}
.rio h3 {
  font-size: 1.4em;
}
.rio h4 {
  font-size: 1.2em;
}
.rio h5 {
  font-size: 1em;
}
.rio h6 {
  font-size: 0.9em;
}
.rio ul, .rio ol, .rio dd {
  margin-left: 2em;
  padding-left: 0;
}
.rio ol {
  list-style: decimal;
}
.rio ul {
  list-style: disc;
}
.rio li, .rio dd {
  padding: 0.17em 0;
}
.rio li ul, .rio li ol {
  padding: 0.17em 0 0;
  margin-top: 0;
  margin-bottom: 0;
}
.rio li ul {
  list-style: circle;
}
.rio table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left;
  border-top: 1px solid var(--line-color);
  background: var(--background-color-loud);
}
.rio thead tr, .rio tbody tr:hover {
  background: var(--line-color);
}
.rio th, .rio td {
  padding: 0.7em 1.4em 0.7em 0;
  border-bottom: 1px solid var(--line-color);
  _padding: 0.7em 1.4em;
}
.rio th:first-child, .rio td:first-child {
  padding-left: 1.4em;
}
.rio th > :first-child, .rio td > :first-child {
  margin-top: 0;
}
.rio th > :last-child, .rio td > :last-child {
  margin-bottom: 0;
}
.rio th {
  font-weight: 700;
}
.rio pre code {
  display: block;
  padding: 1em 1.2em;
  background: var(--background-color-loud);
  white-space: pre;
  overflow: auto;
  position: static;
  top: auto;
  line-height: 1.8;
}
.rio blockquote {
  border-left: 0.4em solid var(--line-color);
  background: var(--background-color-loud);
  margin-left: 0;
  margin-right: 0;
  padding: 1em 1.2em;
  color: var(--text-color-quiet);
}
.rio hr {
  height: 0;
  border: 0 none;
  border-bottom: 1px solid var(--line-color);
}
.rio li > *:first-child, .rio th > *:first-child, .rio td > *:first-child {
  margin-top: 0;
}
.rio li > *:last-child, .rio th > *:last-child, .rio td > *:last-child {
  margin-bottom: 0;
}

/*! Elements
    ============================================================================= */
.m {
  margin: 20px;
}

.mt, .mv {
  margin-top: 20px;
}

.mb, .mv {
  margin-bottom: 20px;
}

.ml, .mh {
  margin-left: 20px;
}

.mr, .mh {
  margin-right: 20px;
}

.m-l {
  margin: 40px;
}

.mt-l, .mv-l {
  margin-top: 40px;
}

.mb-l, .mv-l {
  margin-bottom: 40px;
}

.ml-l, .mh-l {
  margin-left: 40px;
}

.mr-l, .mh-l {
  margin-right: 40px;
}

.m-s {
  margin: 10px;
}

.mt-s, .mv-s {
  margin-top: 10px;
}

.mb-s, .mv-s {
  margin-bottom: 10px;
}

.ml-s, .mh-s {
  margin-left: 10px;
}

.mr-s, .mh-s {
  margin-right: 10px;
}

.p {
  padding: 20px;
}

.pt, .pv {
  padding-top: 20px;
}

.pb, .pv {
  padding-bottom: 20px;
}

.pl, .ph {
  padding-left: 20px;
}

.pr, .ph {
  padding-right: 20px;
}

.p-l {
  padding: 40px;
}

.pt-l, .pv-l {
  padding-top: 40px;
}

.pb-l, .pv-l {
  padding-bottom: 40px;
}

.pl-l, .ph-l {
  padding-left: 40px;
}

.pr-l, .ph-l {
  padding-right: 40px;
}

.p-s {
  padding: 10px;
}

.pt-s, .pv-s {
  padding-top: 10px;
}

.pb-s, .pv-s {
  padding-bottom: 10px;
}

.pl-s, .ph-s {
  padding-left: 10px;
}

.pr-s, .ph-s {
  padding-right: 10px;
}

.h {
  display: none !important;
  visibility: hidden;
}

.hv {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hv-focusable:active, .hv-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.hi {
  visibility: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.fc:before, .fc:after {
  content: "";
  display: table;
}
.fc:after {
  clear: both;
}

.m-xs {
  margin: 5px;
}

.mt-xs, .mv-xs {
  margin-top: 5px;
}

.mb-xs, .mv-xs {
  margin-bottom: 5px;
}

.ml-xs, .mh-xs {
  margin-left: 5px;
}

.mr-xs, .mh-xs {
  margin-right: 5px;
}

.m-xl {
  margin: 40px;
}

.mt-xl, .mv-xl {
  margin-top: 40px;
}

.mb-xl, .mv-xl {
  margin-bottom: 40px;
}

.ml-xl, .mh-xl {
  margin-left: 40px;
}

.mr-xl, .mh-xl {
  margin-right: 40px;
}

.p-xs {
  padding: 5px;
}

.pt-xs, .pv-xs {
  padding-top: 5px;
}

.pb-xs, .pv-xs {
  padding-bottom: 5px;
}

.pl-xs, .ph-xs {
  padding-left: 5px;
}

.pr-xs, .ph-xs {
  padding-right: 5px;
}

.p-xl {
  padding: 40px;
}

.pt-xl, .pv-xl {
  padding-top: 40px;
}

.pb-xl, .pv-xl {
  padding-bottom: 40px;
}

.pl-xl, .ph-xl {
  padding-left: 40px;
}

.pr-xl, .ph-xl {
  padding-right: 40px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 14px/24px sans-serif;
  color: #333;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--link-focus-color);
  text-decoration: underline;
}

em {
  font-style: normal;
  color: var(--text-color-quiet);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

code {
  font-family: var(--monospace-font-family);
}
.app-header {
  width: 100%;
  border-bottom: 1px solid var(--line-color);
}
.app-header--borderless {
  border-bottom: 0;
}
.app-footer {
  width: 100%;
  padding: calc(var(--distance-vertical) * 1.5) calc(var(--distance-horizontal) * 2.5);
  background: var(--background-color-quiet);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  color: var(--text-color-quiet);
  text-align: center;
}
.app-footer a {
  color: var(--text-color);
  font-weight: 500;
}
.app-footer a:hover {
  color: var(--link-color);
}
.app-footer p {
  margin: 0;
}
.app-demo {
  border: 1px solid var(--line-color);
  border-radius: 6px;
}
.app-demo__stage {
  padding: 20px;
}
.app-demo__stage hr {
  margin-left: -20px;
  margin-right: -20px;
}
.app-demo__code > pre {
  margin: 0;
  padding: 0;
  border-radius: 0 0 6px 6px;
  border-top: 1px solid var(--line-color);
}
.app-demo__code > pre > code {
  margin: 0;
  padding: 16px 20px;
  border-radius: inherit;
}
.app-demo__code__handle-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  padding: 0;
  border: 0;
  border-top: 1px solid var(--line-color);
  border-radius: 0 0 6px 6px;
  background: transparent;
  font-size: var(--font-size-small);
  line-height: 30px;
  color: var(--text-color-quiet);
  cursor: pointer;
}
.app-demo__code__handle-bar > .icon {
  width: var(--font-size-small);
  margin-right: 0.6em;
}
.app-demo__code__handle-bar:hover {
  color: var(--text-color);
}
.app-demo__code__handle-bar:focus {
  outline: 0;
}

.app-demo__stage {
  border-radius: 6px 6px 0 0;
}
.app-demo__stage:before, .app-demo__stage:after {
  content: ".";
  display: block;
  height: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
}
.app-demo__stage .box {
  min-height: 40px;
  line-height: 40px;
  background-color: var(--line-color);
  text-align: center;
}
.app-demo__stage .box-h-large {
  min-height: 100px;
  padding: 50px 0 20px;
  line-height: 30px;
}
.app-demo__stage .box-h-middle {
  min-height: 60px;
  padding: 10px 0 20px;
  line-height: 30px;
}
.app-demo__stage .box-h-small {
  min-height: 30px;
  line-height: 30px;
}

.demo-menu ul,
.demo-menu li,
.demo-navbar ul,
.demo-navbar li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.demo-menu > .nami-menu--vertical {
  width: 160px;
}
.demo-menu .nami-space,
.demo-menu .nami-flexible-space {
  background: var(--background-color-loud);
}

.demo-menu-flexible-space-vertical .nami-menu--vertical {
  height: 200px;
}

.demo-linear .box {
  min-width: 100px;
}
.demo-linear .nami-linear {
  margin-top: calc(var(--distance-vertical) / 2);
}
.demo-linear .nami-linear:first-child {
  margin-top: 0;
}
.demo-linear .nami-linear--horizontal > .nami-linear__item > .box {
  margin-left: 1px;
}
.demo-linear .nami-linear--horizontal > .nami-linear__item:first-child > .box {
  margin-left: 0;
}
.demo-linear .nami-linear--vertical > .nami-linear__item > .box {
  margin-top: 1px;
}
.demo-linear .nami-linear--vertical > .nami-linear__item:first-child > .box {
  margin-top: 0;
}

.demo-linear-spacing-horizontal .nami-linear > .nami-linear__item > .box,
.demo-linear-spacing-vertical .nami-linear > .nami-linear__item > .box {
  margin: 0;
}

.demo-linear-spacing-vertical > div {
  display: flex;
}
.demo-linear-spacing-vertical .nami-linear {
  flex: 1 1 auto;
  margin-top: 0;
  margin-left: var(--distance-vertical);
}
.demo-linear-spacing-vertical .nami-linear:first-child {
  margin-left: 0;
}

.demo-linear-justify .nami-linear,
.demo-linear-align .nami-linear {
  background: var(--background-color-quiet);
}

.demo-linear-align .nami-linear {
  height: 120px;
}

.demo-grid .nami-grid {
  margin-top: calc(var(--distance-vertical) / 2);
}
.demo-grid .nami-grid:first-child {
  margin-top: 0;
}
.demo-grid .nami-grid__col > .box {
  margin-left: 1px;
}
.demo-grid .nami-grid__col:first-child > .box {
  margin-left: 0;
}

.demo-grid-spacing .nami-grid__col > .box {
  margin-left: 0;
}

.demo-grid-col-align .nami-grid, .demo-grid-align .nami-grid, .demo-grid-justify .nami-grid {
  background: var(--background-color-quiet);
}

.demo-grid-col-align .nami-grid, .demo-grid-align .nami-grid {
  height: 120px;
}

.demo-grid-col-align .nami-grid__col > .box {
  background: var(--primary-color);
}

.demo-divider .nami-linear__item,
.demo-divider .nami-grid__col,
.demo-space .nami-linear__item,
.demo-space .nami-grid__col,
.demo-flexible-space .nami-linear__item,
.demo-flexible-space .nami-grid__col {
  margin: calc(var(--distance-vertical) / 2) var(--distance-horizontal);
}
.demo-divider .nami-space,
.demo-divider .nami-flexible-space,
.demo-space .nami-space,
.demo-space .nami-flexible-space,
.demo-flexible-space .nami-space,
.demo-flexible-space .nami-flexible-space {
  background: var(--background-color-loud);
}

.demo-flexible-space .nami-linear--vertical {
  height: 270px;
}

.demo-icon .icon-box-list {
  display: flex;
  margin: 0;
  padding: 1px 0 0 1px;
  list-style: none;
}
.demo-icon .icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16.66%;
  height: 100px;
  margin: -1px 0 0 -1px;
  padding: 0;
  color: #666;
  border: 1px solid transparent;
  border-radius: 5px;
}
.demo-icon .icon-box > .nami-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 18px;
}
.demo-icon .icon-box > .icon-box__name {
  font-size: var(--font-size-small);
}
.demo-icon .icon-box:hover {
  border-color: var(--line-color);
}

.demo-button .nami-button + .nami-button {
  margin-left: var(--distance-horizontal);
}

.demo-popover {
  padding: 0;
  background: var(--background-color-loud);
}
.demo-popover > .demo-popover__controller {
  width: 100%;
  padding: var(--distance-vertical) var(--distance-horizontal);
  background: var(--background-color);
  border-bottom: 1px solid var(--line-color);
  border-radius: 6px 6px 0 0;
}
.demo-popover > .nami-button {
  display: block;
  width: 160px;
  margin: calc(var(--distance-vertical) * 3) auto;
}

.demo-textbox .nami-textbox:not(:last-child) {
  margin-bottom: var(--distance-vertical);
}

.demo-select .nami-select:not(:last-child) {
  margin-bottom: var(--distance-vertical);
}

.demo-checkbox .nami-checkbox:not(:last-child) {
  margin-right: var(--distance-vertical);
}

.demo-radio .nami-radio:not(:last-child) {
  margin-right: var(--distance-vertical);
}

.demo-slider .nami-slider {
  max-width: 300px;
  margin: 0 auto;
}
.demo-slider .nami-slider:not(:last-child) {
  margin-bottom: 20px;
}
.app-display-name {
  display: flex;
}
.app-display-name > em {
  margin-left: 0.7em;
  font-style: normal;
  opacity: 0.7;
  font-size: 0.9em;
  color: inherit;
}
.app-document em {
  font-style: normal;
}
.app-document pre > code {
  margin: 0;
}
.app-document table tbody {
  font-size: var(--font-size-small);
}
.app-document table th {
  white-space: nowrap;
}
.app-document table code {
  font-size: inherit;
  padding: 0;
  background: transparent;
}
.app-document table code:not(:first-child) {
  margin-left: 4px;
}
.app-document table code:not(:last-child) {
  margin-right: 4px;
}
.app-document table td {
  vertical-align: top;
}
.app-masthead {
  width: 782px;
  margin: auto;
  padding: 50px;
  flex: 0 0 auto;
}

.app-masthead__logo {
  width: 100%;
  height: auto;
}

.app-masthead__slogen {
  margin: 20px 0 10px;
  font-size: 47px;
  line-height: 60px;
  color: var(--text-color);
  text-align: center;
  font-weight: 300;
}

.app-masthead__version {
  margin: 10px 0 20px;
  text-align: center;
  font-weight: 300;
  font-family: monospace;
  color: var(--text-color-quiet);
}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-view {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
}

.app-sidebar {
  flex: 0 0 270px;
  padding: calc(var(--distance-vertical) * 2) var(--distance-horizontal);
}

.app-content {
  flex: 1 1 auto;
  max-width: 840px;
  padding: calc(var(--distance-vertical) * 2) calc(var(--distance-horizontal) * 1);
}
