:root {
  --distance-vertical: 20px;
  --distance-horizontal: 20px;
  --box-base-min-height: 38px;
  --box-base-border-width: 1px;
  --box-base-border-radius: 4px;
  --box-base-padding-vertical: 6px;
  --box-base-padding-horizontal: 10px;
  --box-large-min-height: 48px;
  --box-large-border-width: 1px;
  --box-large-border-radius: 6px;
  --box-large-padding-vertical: 9px;
  --box-large-padding-horizontal: 14px;
  --box-small-min-height: 28px;
  --box-small-border-width: 1px;
  --box-small-border-radius: 3px;
  --box-small-padding-vertical: 3px;
  --box-small-padding-horizontal: 8px;
  --font-size-base: 14px;
  --font-size-large: 16px;
  --font-size-small: 12px;
  --line-height-base: 24px;
  --line-height-large: 28px;
  --line-height-small: 20px;
  --font-family: sans-serif;
  --monospace-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  --primary-color: #5ba6e6;
  --primary-color-loud: #4898e2;
  --primary-color-quiet: #74b6ea;
  --primary-background-color: rgba(91, 166, 230, 0.17);
  --primary-shadow-color: rgba(91, 166, 230, 0.27);
  --info-color: #5ec9e5;
  --info-color-loud: #5bbfde;
  --info-color-quiet: #6fd3ed;
  --info-background-color: rgba(94, 201, 229, 0.17);
  --info-shadow-color: rgba(94, 201, 229, 0.27);
  --success-color: #5cb85c;
  --success-color-loud: #3eab3e;
  --success-color-quiet: #7ac479;
  --success-background-color: rgba(92, 184, 92, 0.17);
  --success-shadow-color: rgba(92, 184, 92, 0.27);
  --warning-color: #ed9b2b;
  --warning-color-loud: #eb8b0c;
  --warning-color-quiet: #f0ad4e;
  --warning-background-color: rgba(237, 155, 43, 0.17);
  --warning-shadow-color: rgba(237, 155, 43, 0.27);
  --danger-color: #d9544f;
  --danger-color-loud: #db4537;
  --danger-color-quiet: #d27170;
  --danger-background-color: rgba(217, 84, 79, 0.17);
  --danger-shadow-color: rgba(217, 84, 79, 0.27);
  --background-color: #fff;
  --background-color-loud: #f0f0f1;
  --background-color-quiet: #f6f6f7;
  --line-color: rgba(32, 41, 51, 0.12);
  --line-color-loud: rgba(32, 41, 51, 0.24);
  --line-color-quiet: #fff;
  --text-color: #333333;
  --text-color-loud: #131313;
  --text-color-quiet: #7d8790;
  --placeholder-color: #959ca2;
  --link-color: var(--primary-color);
  --link-focus-color: var(--primary-color-quiet);
  --link-visited-color: var(--primary-color);
  --nami-grid-column-number: 24;
  --nami-checkbox-size-base: 18px;
  --nami-radio-size-base: 18px;
}
.nami-button {
  --button-background: var(--background-color);
  --button-border-color: var(--line-color-loud);
  --button-color: var(--text-color);
  --button-hover-background: var(--primary-color-quiet);
  --button-hover-border-color: var(--primary-color-quiet);
  --button-hover-color: var(--background-color);
  --button-focus-shadow-color: var(--primary-shadow-color);
  --button-active-background: var(--primary-color-loud);
  --button-active-border-color: var(--primary-color-loud);
  --button-active-color: var(--background-color);
  --button-disabled-background: var(--background-color-loud);
  --button-disabled-border-color: var(--background-color-loud);
  --button-disabled-color: var(--text-color);
}

.nami-button,
.nami-button__text {
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.nami-button {
  height: var(--box-base-min-height);
  min-width: var(--box-base-min-height);
  padding: var(--box-base-padding-vertical) calc(var(--distance-horizontal) * 1.25);
  border-style: solid;
  border-width: var(--box-base-border-width);
  border-radius: var(--box-base-border-radius);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  text-align: center;
  background: var(--button-background);
  border-color: var(--button-border-color);
  color: var(--button-color);
  cursor: pointer;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.4s;
}
.nami-button:hover, .nami-button:focus {
  background: var(--button-hover-background);
  border-color: var(--button-hover-border-color);
  color: var(--button-hover-color);
}
.nami-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--button-focus-shadow-color);
}
.nami-button:active {
  background: var(--button-active-background);
  border-color: var(--button-active-border-color);
  color: var(--button-active-color);
}
.nami-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: var(--button-disabled-background);
  border-color: var(--button-disabled-border-color);
  color: var(--button-disabled-color);
}

.nami-button--primary {
  --button-background: var(--primary-color);
  --button-hover-background: var(--primary-color-quiet);
  --button-active-background: var(--primary-color-loud);
  --button-border-color: transparent;
  --button-hover-border-color: transparent;
  --button-active-border-color: transparent;
  --button-focus-shadow-color: var(--primary-shadow-color);
  --button-color: #fff;
  --button-hover-color: #fff;
  --button-active-color: #fff;
}

.nami-button--info {
  --button-background: var(--info-color);
  --button-hover-background: var(--info-color-quiet);
  --button-active-background: var(--info-color-loud);
  --button-border-color: transparent;
  --button-hover-border-color: transparent;
  --button-active-border-color: transparent;
  --button-focus-shadow-color: var(--info-shadow-color);
  --button-color: #fff;
  --button-hover-color: #fff;
  --button-active-color: #fff;
}

.nami-button--success {
  --button-background: var(--success-color);
  --button-hover-background: var(--success-color-quiet);
  --button-active-background: var(--success-color-loud);
  --button-border-color: transparent;
  --button-hover-border-color: transparent;
  --button-active-border-color: transparent;
  --button-focus-shadow-color: var(--success-shadow-color);
  --button-color: #fff;
  --button-hover-color: #fff;
  --button-active-color: #fff;
}

.nami-button--warning {
  --button-background: var(--warning-color);
  --button-hover-background: var(--warning-color-quiet);
  --button-active-background: var(--warning-color-loud);
  --button-border-color: transparent;
  --button-hover-border-color: transparent;
  --button-active-border-color: transparent;
  --button-focus-shadow-color: var(--warning-shadow-color);
  --button-color: #fff;
  --button-hover-color: #fff;
  --button-active-color: #fff;
}

.nami-button--danger {
  --button-background: var(--danger-color);
  --button-hover-background: var(--danger-color-quiet);
  --button-active-background: var(--danger-color-loud);
  --button-border-color: transparent;
  --button-hover-border-color: transparent;
  --button-active-border-color: transparent;
  --button-focus-shadow-color: var(--danger-shadow-color);
  --button-color: #fff;
  --button-hover-color: #fff;
  --button-active-color: #fff;
}

.nami-button--outline {
  --button-color: var(--text-color);
  --button-background: transparent;
  --button-border-color: var(--line-color-loud);
  --button-hover-color: var(--primary-color);
  --button-hover-background: transparent;
  --button-hover-border-color: var(--primary-color);
  --button-active-color: var(--primary-color-loud);
  --button-active-background: var(--primary-background-color);
  --button-active-border-color: var(--primary-color-loud);
  --button-focus-shadow-color: var(--primary-shadow-color);
}
.nami-button--outline.nami-button--primary {
  --button-color: var(--primary-color);
  --button-hover-color: var(--primary-color);
  --button-active-color: var(--primary-color-loud);
  --button-border-color: currentColor;
  --button-hover-border-color: currentColor;
  --button-active-border-color: currentColor;
  --button-active-background: var(--primary-background-color);
  --button-focus-shadow-color: var(--primary-shadow-color);
}
.nami-button--outline.nami-button--info {
  --button-color: var(--info-color);
  --button-hover-color: var(--info-color);
  --button-active-color: var(--info-color-loud);
  --button-border-color: currentColor;
  --button-hover-border-color: currentColor;
  --button-active-border-color: currentColor;
  --button-active-background: var(--info-background-color);
  --button-focus-shadow-color: var(--info-shadow-color);
}
.nami-button--outline.nami-button--success {
  --button-color: var(--success-color);
  --button-hover-color: var(--success-color);
  --button-active-color: var(--success-color-loud);
  --button-border-color: currentColor;
  --button-hover-border-color: currentColor;
  --button-active-border-color: currentColor;
  --button-active-background: var(--success-background-color);
  --button-focus-shadow-color: var(--success-shadow-color);
}
.nami-button--outline.nami-button--warning {
  --button-color: var(--warning-color);
  --button-hover-color: var(--warning-color);
  --button-active-color: var(--warning-color-loud);
  --button-border-color: currentColor;
  --button-hover-border-color: currentColor;
  --button-active-border-color: currentColor;
  --button-active-background: var(--warning-background-color);
  --button-focus-shadow-color: var(--warning-shadow-color);
}
.nami-button--outline.nami-button--danger {
  --button-color: var(--danger-color);
  --button-hover-color: var(--danger-color);
  --button-active-color: var(--danger-color-loud);
  --button-border-color: currentColor;
  --button-hover-border-color: currentColor;
  --button-active-border-color: currentColor;
  --button-active-background: var(--danger-background-color);
  --button-focus-shadow-color: var(--danger-shadow-color);
}

.nami-button--flat {
  --button-background: transparent;
  --button-hover-background: transparent;
  --button-active-background: var(--background-color-loud);
  --button-border-color: transparent;
  --button-hover-border-color: transparent;
  --button-active-border-color: transparent;
  --button-disabled-background: transparent;
  --button-disabled-border-color: transparent;
  --button-color: var(--text-color);
  --button-hover-color: var(--text-color);
  --button-active-color: var(--text-color-loud);
  --button-focus-shadow-color: transparent;
}
.nami-button--flat.nami-button--primary {
  --button-color: var(--primary-color);
  --button-hover-color: var(--primary-color);
  --button-active-color: var(--primary-color-loud);
}
.nami-button--flat.nami-button--info {
  --button-color: var(--info-color);
  --button-hover-color: var(--info-color);
  --button-active-color: var(--info-color-loud);
}
.nami-button--flat.nami-button--success {
  --button-color: var(--success-color);
  --button-hover-color: var(--success-color);
  --button-active-color: var(--success-color-loud);
}
.nami-button--flat.nami-button--warning {
  --button-color: var(--warning-color);
  --button-hover-color: var(--warning-color);
  --button-active-color: var(--warning-color-loud);
}
.nami-button--flat.nami-button--danger {
  --button-color: var(--danger-color);
  --button-hover-color: var(--danger-color);
  --button-active-color: var(--danger-color-loud);
}

.nami-button--round {
  border-radius: 100px;
}

.nami-button--circle {
  padding-left: 0;
  padding-right: 0;
  border-radius: 100px;
}
.nami-icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.nami-popover-portal {
  width: 0;
  height: 0;
  margin: 0;
}

.nami-popover {
  --popover-foreground: var(--text-color);
  --popover-background: var(--background-color);
  --popover-radius: 4px;
  --popover-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35);
  --popover-z-index: 3;
  --popover-arrow-size: 14px;
  --popover-arrow-radius: 2px;
  --popover-arrow-margin: calc(var(--popover-radius) + 10px);
  --popover-arrow-top-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.84);
  --popover-arrow-right-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.74);
  --popover-arrow-bottom-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.54);
  --popover-arrow-left-shadow: 1px -1px 1px -1px rgba(0, 0, 0, 0.74);
}

.nami-popover {
  position: absolute;
  z-index: var(--popover-z-index);
  display: none;
}

.nami-popover--open {
  display: block;
}

.nami-popover__inner {
  display: flex;
  flex-direction: column;
  color: var(--popover-foreground);
  background: var(--popover-background);
  border-radius: var(--popover-radius);
  box-shadow: var(--popover-shadow);
  position: relative;
}

.nami-popover__arrow {
  width: var(--popover-arrow-size);
  height: var(--popover-arrow-size);
  position: absolute;
  clip-path: inset(0);
}
.nami-popover__arrow:after {
  content: "";
  display: block;
  width: var(--popover-arrow-size);
  height: var(--popover-arrow-size);
  background: var(--popover-background);
  border-radius: var(--popover-arrow-radius);
}
.nami-popover--has-arrow[x-at^=bottom] > .nami-popover__arrow, .nami-popover--has-arrow[x-at^=top] > .nami-popover__arrow {
  width: var(--popover-arrow-size);
  height: calc(var(--popover-arrow-size) * 0.5);
  margin: 0 var(--popover-arrow-margin);
}

.nami-popover--has-arrow[x-at^=left] > .nami-popover__arrow, .nami-popover--has-arrow[x-at^=right] > .nami-popover__arrow {
  width: calc(var(--popover-arrow-size) * 0.5);
  height: var(--popover-arrow-size);
  margin: var(--popover-arrow-margin) 0;
}

.nami-popover--has-arrow[x-at^=top] {
  min-width: calc(var(--popover-arrow-size) + var(--popover-arrow-margin) * 2);
  padding-bottom: calc(var(--popover-arrow-size) * 0.5);
}
.nami-popover--has-arrow[x-at^=top] > .nami-popover__arrow {
  bottom: 0;
}
.nami-popover--has-arrow[x-at^=top] > .nami-popover__arrow:after {
  transform-origin: 100% 100%;
  transform: translate(-50%, calc(-100% + calc(var(--popover-arrow-size) * 0.5))) rotate(45deg);
  box-shadow: var(--popover-arrow-top-shadow);
}

.nami-popover--has-arrow[x-at^=right] {
  min-height: calc(var(--popover-arrow-size) + var(--popover-arrow-margin) * 2);
  padding-left: calc(var(--popover-arrow-size) * 0.5);
}
.nami-popover--has-arrow[x-at^=right] > .nami-popover__arrow {
  left: 0;
}
.nami-popover--has-arrow[x-at^=right] > .nami-popover__arrow:after {
  transform-origin: 0 100%;
  transform: translate(0, -50%) rotate(45deg);
  box-shadow: var(--popover-arrow-right-shadow);
}

.nami-popover--has-arrow[x-at^=bottom] {
  min-width: calc(var(--popover-arrow-size) + var(--popover-arrow-margin) * 2);
  padding-top: calc(var(--popover-arrow-size) * 0.5);
}
.nami-popover--has-arrow[x-at^=bottom] > .nami-popover__arrow {
  top: 0;
}
.nami-popover--has-arrow[x-at^=bottom] > .nami-popover__arrow:after {
  transform-origin: 0 0;
  transform: translate(50%, 0) rotate(45deg);
  box-shadow: var(--popover-arrow-bottom-shadow);
}

.nami-popover--has-arrow[x-at^=left] {
  min-height: calc(var(--popover-arrow-size) + var(--popover-arrow-margin) * 2);
  padding-right: calc(var(--popover-arrow-size) * 0.5);
}
.nami-popover--has-arrow[x-at^=left] > .nami-popover__arrow {
  right: 0;
}
.nami-popover--has-arrow[x-at^=left] > .nami-popover__arrow:after {
  transform-origin: 100% 0;
  transform: translate(calc(-100% + calc(var(--popover-arrow-size) * 0.5)), 50%) rotate(45deg);
  box-shadow: var(--popover-arrow-left-shadow);
}
.nami-navbar {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 calc(var(--distance-horizontal) * 2.5);
}
.nami-navbar > .nami-navbar-brand {
  margin-right: calc(var(--distance-horizontal) * 1.25);
}
.nami-navbar > .nami-menu {
  flex: 1 1 auto;
}
.nami-navbar > .nami-menu > .nami-menu__item > .nami-menu__item__header,
.nami-navbar > .nami-menu > .nami-menu__item-group > .nami-menu__item > .nami-menu__item__header {
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}

.nami-navbar-brand {
  height: 44px;
  flex: 0 0 auto;
  font-size: calc(var(--font-size-large) * 1.25);
  line-height: 44px;
  color: var(--text-color-loud);
}
.nami-navbar-brand a {
  color: inherit;
}
.nami-navbar-brand a:hover, .nami-navbar-brand a:focus, .nami-navbar-brand a:visited {
  color: inherit;
  text-decoration: none;
}
.nami-navbar-brand img {
  display: block;
  height: 44px;
}
.nami-linear {
  --nami-linear--direction: row;
  --nami-linear--justify: flex-start;
  --nami-linear--align: strech;
  --nami-linear--padding: 0;
  --nami-linear--spacing: 0px;
  display: flex;
  flex-direction: var(--nami-linear--direction);
  justify-content: var(--nami-linear--justify);
  align-items: var(--nami-linear--align);
  padding: var(--nami-linear--padding);
}
.nami-linear--horizontal {
  --nami-linear--direction: row;
}
.nami-linear--horizontal-reverse {
  --nami-linear--direction: row-reverse;
}
.nami-linear--vertical {
  --nami-linear--direction: column;
}
.nami-linear--vertical-reverse {
  --nami-linear--direction: column-reverse;
}
.nami-linear--justify-start {
  --nami-linear--justify: flex-start;
}
.nami-linear--justify-end {
  --nami-linear--justify: flex-end;
}
.nami-linear--justify-center {
  --nami-linear--justify: center;
}
.nami-linear--justify-between {
  --nami-linear--justify: space-between;
}
.nami-linear--justify-around {
  --nami-linear--justify: space-around;
}
.nami-linear--align-start {
  --nami-linear--align: flex-start;
}
.nami-linear--align-end {
  --nami-linear--align: flex-end;
}
.nami-linear--align-center {
  --nami-linear--align: center;
}
.nami-linear--align-stretch {
  --nami-linear--align: stretch;
}
.nami-linear--padding-small {
  --nami-linear--padding: calc(var(--distance-horizontal) / 2);
}
.nami-linear--padding-common {
  --nami-linear--padding: var(--distance-horizontal);
}
.nami-linear--padding-large {
  --nami-linear--padding: calc(var(--distance-horizontal) * 2);
}
.nami-linear--spacing-small {
  --nami-linear--spacing: calc(var(--distance-horizontal) / 2);
}
.nami-linear--spacing-common {
  --nami-linear--spacing: var(--distance-horizontal);
}
.nami-linear--spacing-large {
  --nami-linear--spacing: calc(var(--distance-horizontal) * 2);
}

.nami-linear__item {
  flex: 0 0 auto;
}
.nami-linear__item--flex {
  flex: 1 1 auto;
  min-width: 0;
}
.nami-linear__item--flex-1 {
  flex: 1 1 auto;
}
.nami-linear__item--flex-2 {
  flex: 2 2 auto;
}
.nami-linear__item--flex-3 {
  flex: 3 3 auto;
}
.nami-linear__item--flex-4 {
  flex: 4 4 auto;
}
.nami-linear__item--flex-5 {
  flex: 5 5 auto;
}
.nami-linear__item--flex-6 {
  flex: 6 6 auto;
}
.nami-linear__item--flex-7 {
  flex: 7 7 auto;
}
.nami-linear__item--flex-8 {
  flex: 8 8 auto;
}
.nami-linear__item--flex-9 {
  flex: 9 9 auto;
}
.nami-linear__item--flex-10 {
  flex: 10 10 auto;
}
.nami-linear__item--col-1 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 24 + var(--nami-linear--spacing) * 0 );
}
.nami-linear__item--col-2 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 12 + var(--nami-linear--spacing) * 1 );
}
.nami-linear__item--col-3 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 8 + var(--nami-linear--spacing) * 2 );
}
.nami-linear__item--col-4 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 6 + var(--nami-linear--spacing) * 3 );
}
.nami-linear__item--col-5 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 4.8 + var(--nami-linear--spacing) * 4 );
}
.nami-linear__item--col-6 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 4 + var(--nami-linear--spacing) * 5 );
}
.nami-linear__item--col-7 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 3.4285714286 + var(--nami-linear--spacing) * 6 );
}
.nami-linear__item--col-8 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 3 + var(--nami-linear--spacing) * 7 );
}
.nami-linear__item--col-9 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 2.6666666667 + var(--nami-linear--spacing) * 8 );
}
.nami-linear__item--col-10 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 2.4 + var(--nami-linear--spacing) * 9 );
}
.nami-linear__item--col-11 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 2.1818181818 + var(--nami-linear--spacing) * 10 );
}
.nami-linear__item--col-12 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 2 + var(--nami-linear--spacing) * 11 );
}
.nami-linear__item--col-13 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 1.8461538462 + var(--nami-linear--spacing) * 12 );
}
.nami-linear__item--col-14 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 1.7142857143 + var(--nami-linear--spacing) * 13 );
}
.nami-linear__item--col-15 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 1.6 + var(--nami-linear--spacing) * 14 );
}
.nami-linear__item--col-16 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 1.5 + var(--nami-linear--spacing) * 15 );
}
.nami-linear__item--col-17 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 1.4117647059 + var(--nami-linear--spacing) * 16 );
}
.nami-linear__item--col-18 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 1.3333333333 + var(--nami-linear--spacing) * 17 );
}
.nami-linear__item--col-19 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 1.2631578947 + var(--nami-linear--spacing) * 18 );
}
.nami-linear__item--col-20 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 1.2 + var(--nami-linear--spacing) * 19 );
}
.nami-linear__item--col-21 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 1.1428571429 + var(--nami-linear--spacing) * 20 );
}
.nami-linear__item--col-22 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 1.0909090909 + var(--nami-linear--spacing) * 21 );
}
.nami-linear__item--col-23 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 1.0434782609 + var(--nami-linear--spacing) * 22 );
}
.nami-linear__item--col-24 {
  box-sizing: border-box;
  flex: 0 0 calc( (100% - var(--nami-linear--spacing) * 23) / 1 + var(--nami-linear--spacing) * 23 );
}
.nami-linear__item--align-start {
  align-self: flex-start;
}
.nami-linear__item--align-end {
  align-self: flex-end;
}
.nami-linear__item--align-center {
  align-self: center;
}
.nami-linear__item--align-stretch {
  align-self: stretch;
}
.nami-linear--horizontal .nami-linear__item {
  margin-left: calc(var(--nami-linear--spacing) / 2);
  margin-right: calc(var(--nami-linear--spacing) / 2);
}
.nami-linear--horizontal .nami-linear__item:first-child {
  margin-left: 0;
}
.nami-linear--horizontal .nami-linear__item:last-child {
  margin-right: 0;
}
.nami-linear--horizontal-reverse .nami-linear__item {
  margin-left: calc(var(--nami-linear--spacing) / 2);
  margin-right: calc(var(--nami-linear--spacing) / 2);
}
.nami-linear--horizontal-reverse .nami-linear__item:first-child {
  margin-right: 0;
}
.nami-linear--horizontal-reverse .nami-linear__item:last-child {
  margin-left: 0;
}
.nami-linear--vertical .nami-linear__item {
  margin-top: calc(var(--nami-linear--spacing) / 2);
  margin-bottom: calc(var(--nami-linear--spacing) / 2);
}
.nami-linear--vertical .nami-linear__item:first-child {
  margin-top: 0;
}
.nami-linear--vertical .nami-linear__item:last-child {
  margin-bottom: 0;
}
.nami-linear--vertical-reverse .nami-linear__item {
  margin-top: calc(var(--nami-linear--spacing) / 2);
  margin-bottom: calc(var(--nami-linear--spacing) / 2);
}
.nami-linear--vertical-reverse .nami-linear__item:first-child {
  margin-bottom: 0;
}
.nami-linear--vertical-reverse .nami-linear__item:last-child {
  margin-top: 0;
}
.nami-menu__item__header, .nami-menu__item-group__header {
  height: var(--box-base-min-height);
  min-width: var(--box-base-min-height);
  padding: calc(var(--box-base-padding-vertical) + var(--box-base-border-width)) calc(var(--box-base-padding-horizontal) + var(--box-base-border-width));
  border-style: solid;
  border-width: 0;
  border-radius: var(--box-base-border-radius);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
}
.nami-menu__item__header > a, .nami-menu__item-group__header > a {
  display: flex;
  align-items: center;
  color: inherit;
}
.nami-menu__item__header > a:after, .nami-menu__item-group__header > a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.nami-menu__item__header > a:hover, .nami-menu__item-group__header > a:hover, .nami-menu__item__header > a:focus, .nami-menu__item-group__header > a:focus, .nami-menu__item__header > a:visited, .nami-menu__item-group__header > a:visited {
  color: inherit;
  text-decoration: none;
}

.nami-menu--vertical .nami-menu__item__header--indent-1,
.nami-menu--vertical .nami-menu__item-group__header--indent-1 {
  padding-left: calc( calc(var(--box-base-padding-horizontal) + var(--box-base-border-width)) + var(--distance-horizontal) * 1 );
}

.nami-menu--vertical .nami-menu__item__header--indent-2,
.nami-menu--vertical .nami-menu__item-group__header--indent-2 {
  padding-left: calc( calc(var(--box-base-padding-horizontal) + var(--box-base-border-width)) + var(--distance-horizontal) * 2 );
}

.nami-menu--vertical .nami-menu__item__header--indent-3,
.nami-menu--vertical .nami-menu__item-group__header--indent-3 {
  padding-left: calc( calc(var(--box-base-padding-horizontal) + var(--box-base-border-width)) + var(--distance-horizontal) * 3 );
}

.nami-menu--vertical .nami-menu__item__header--indent-4,
.nami-menu--vertical .nami-menu__item-group__header--indent-4 {
  padding-left: calc( calc(var(--box-base-padding-horizontal) + var(--box-base-border-width)) + var(--distance-horizontal) * 4 );
}

.nami-menu--vertical .nami-menu__item__header--indent-5,
.nami-menu--vertical .nami-menu__item-group__header--indent-5 {
  padding-left: calc( calc(var(--box-base-padding-horizontal) + var(--box-base-border-width)) + var(--distance-horizontal) * 5 );
}

.nami-menu--vertical .nami-menu__item__header--indent-6,
.nami-menu--vertical .nami-menu__item-group__header--indent-6 {
  padding-left: calc( calc(var(--box-base-padding-horizontal) + var(--box-base-border-width)) + var(--distance-horizontal) * 6 );
}

.nami-menu--vertical .nami-menu__item__header--indent-7,
.nami-menu--vertical .nami-menu__item-group__header--indent-7 {
  padding-left: calc( calc(var(--box-base-padding-horizontal) + var(--box-base-border-width)) + var(--distance-horizontal) * 7 );
}

.nami-menu,
.nami-menu__item-group__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nami-menu__item {
  position: relative;
}
.nami-menu__item--active {
  z-index: 1;
}
.nami-menu__item--active > .nami-menu__item__header {
  color: var(--text-color);
  cursor: pointer;
}
.nami-menu__item--open > .nami-menu__item__header .nami-menu__item__header__arrows {
  transform: rotateX(180deg);
}
.nami-menu__item--disabled {
  cursor: not-allowed;
}
.nami-menu__item--disabled > .nami-menu__item__header {
  pointer-events: none;
  opacity: 0.5;
}
.nami-menu__item--disabled > .nami-menu--submenu {
  cursor: auto;
}
.nami-menu__item--disabled.nami-menu__item--active > .nami-menu__item__header {
  color: var(--text-color-quiet);
}
.nami-menu__item__header {
  color: var(--text-color-quiet);
}
.nami-menu__item__header__arrows {
  box-sizing: content-box;
  width: calc(1em - 2px);
  height: calc(1em - 2px);
  margin-left: 0.6em;
  transition: transform 0.2s;
}

.nami-menu__item-group {
  display: flex;
}
.nami-menu__item-group__header {
  color: var(--text-color-quiet);
  opacity: 0.6;
}

.nami-menu--popover .nami-menu__item-group, .nami-menu--vertical .nami-menu__item-group {
  flex-direction: column;
}
.nami-menu--popover .nami-menu__item-group:not(:first-child), .nami-menu--vertical .nami-menu__item-group:not(:first-child) {
  padding-top: calc(var(--distance-vertical) * 0.5);
}

.nami-menu--popover .nami-menu__item--open > .nami-menu__item__header .nami-menu__item__header__arrows {
  transform: rotateY(180deg);
}
.nami-menu--popover .nami-menu__item--active > .nami-menu__item__header {
  background: var(--background-color-loud);
}
.nami-grid {
  display: flex;
  flex-wrap: wrap;
}
.nami-grid--justify-start {
  justify-content: flex-start;
}
.nami-grid--justify-end {
  justify-content: flex-end;
}
.nami-grid--justify-center {
  justify-content: center;
}
.nami-grid--justify-between {
  justify-content: space-between;
}
.nami-grid--justify-around {
  justify-content: space-around;
}
.nami-grid--align-start {
  align-items: flex-start;
}
.nami-grid--align-end {
  align-items: flex-end;
}
.nami-grid--align-center {
  align-items: center;
}
.nami-grid--spacing {
  margin-left: calc(calc(var(--distance-horizontal) / 2) * -1);
  margin-right: calc(calc(var(--distance-horizontal) / 2) * -1);
}
.nami-grid--spacing-small {
  margin-left: calc(calc(var(--distance-horizontal) / 4) * -1);
  margin-right: calc(calc(var(--distance-horizontal) / 4) * -1);
}
.nami-grid--spacing-large {
  margin-left: calc(calc(var(--distance-horizontal)) * -1);
  margin-right: calc(calc(var(--distance-horizontal)) * -1);
}
.nami-grid--spacing > .nami-grid__col {
  padding-left: calc(var(--distance-horizontal) / 2);
  padding-right: calc(var(--distance-horizontal) / 2);
}
.nami-grid--spacing-small > .nami-grid__col {
  padding-left: calc(var(--distance-horizontal) / 4);
  padding-right: calc(var(--distance-horizontal) / 4);
}
.nami-grid--spacing-large > .nami-grid__col {
  padding-left: calc(var(--distance-horizontal));
  padding-right: calc(var(--distance-horizontal));
}

.nami-grid__col {
  flex: 1 1 0;
}
.nami-grid__col--1 {
  flex: 0 0 calc(100% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-1 {
  margin-left: calc(100% / var(--nami-grid-column-number));
}
.nami-grid__col--2 {
  flex: 0 0 calc(200% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-2 {
  margin-left: calc(200% / var(--nami-grid-column-number));
}
.nami-grid__col--3 {
  flex: 0 0 calc(300% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-3 {
  margin-left: calc(300% / var(--nami-grid-column-number));
}
.nami-grid__col--4 {
  flex: 0 0 calc(400% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-4 {
  margin-left: calc(400% / var(--nami-grid-column-number));
}
.nami-grid__col--5 {
  flex: 0 0 calc(500% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-5 {
  margin-left: calc(500% / var(--nami-grid-column-number));
}
.nami-grid__col--6 {
  flex: 0 0 calc(600% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-6 {
  margin-left: calc(600% / var(--nami-grid-column-number));
}
.nami-grid__col--7 {
  flex: 0 0 calc(700% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-7 {
  margin-left: calc(700% / var(--nami-grid-column-number));
}
.nami-grid__col--8 {
  flex: 0 0 calc(800% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-8 {
  margin-left: calc(800% / var(--nami-grid-column-number));
}
.nami-grid__col--9 {
  flex: 0 0 calc(900% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-9 {
  margin-left: calc(900% / var(--nami-grid-column-number));
}
.nami-grid__col--10 {
  flex: 0 0 calc(1000% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-10 {
  margin-left: calc(1000% / var(--nami-grid-column-number));
}
.nami-grid__col--11 {
  flex: 0 0 calc(1100% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-11 {
  margin-left: calc(1100% / var(--nami-grid-column-number));
}
.nami-grid__col--12 {
  flex: 0 0 calc(1200% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-12 {
  margin-left: calc(1200% / var(--nami-grid-column-number));
}
.nami-grid__col--13 {
  flex: 0 0 calc(1300% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-13 {
  margin-left: calc(1300% / var(--nami-grid-column-number));
}
.nami-grid__col--14 {
  flex: 0 0 calc(1400% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-14 {
  margin-left: calc(1400% / var(--nami-grid-column-number));
}
.nami-grid__col--15 {
  flex: 0 0 calc(1500% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-15 {
  margin-left: calc(1500% / var(--nami-grid-column-number));
}
.nami-grid__col--16 {
  flex: 0 0 calc(1600% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-16 {
  margin-left: calc(1600% / var(--nami-grid-column-number));
}
.nami-grid__col--17 {
  flex: 0 0 calc(1700% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-17 {
  margin-left: calc(1700% / var(--nami-grid-column-number));
}
.nami-grid__col--18 {
  flex: 0 0 calc(1800% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-18 {
  margin-left: calc(1800% / var(--nami-grid-column-number));
}
.nami-grid__col--19 {
  flex: 0 0 calc(1900% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-19 {
  margin-left: calc(1900% / var(--nami-grid-column-number));
}
.nami-grid__col--20 {
  flex: 0 0 calc(2000% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-20 {
  margin-left: calc(2000% / var(--nami-grid-column-number));
}
.nami-grid__col--21 {
  flex: 0 0 calc(2100% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-21 {
  margin-left: calc(2100% / var(--nami-grid-column-number));
}
.nami-grid__col--22 {
  flex: 0 0 calc(2200% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-22 {
  margin-left: calc(2200% / var(--nami-grid-column-number));
}
.nami-grid__col--23 {
  flex: 0 0 calc(2300% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-23 {
  margin-left: calc(2300% / var(--nami-grid-column-number));
}
.nami-grid__col--24 {
  flex: 0 0 calc(2400% / var(--nami-grid-column-number));
}
.nami-grid__col--offset-24 {
  margin-left: calc(2400% / var(--nami-grid-column-number));
}
.nami-grid__col--align-start {
  align-self: flex-start;
}
.nami-grid__col--align-end {
  align-self: flex-end;
}
.nami-grid__col--align-center {
  align-self: center;
}
.nami-divider--horizontal {
  --divider-length: calc(1em + 4px);
  --divider-color: var(--line-color);
}

.nami-divider--horizontal {
  width: 1px;
  height: var(--divider-length);
  margin-right: -1px;
  align-self: center;
  background: var(--divider-color);
}

.nami-divider--vertical {
  --divider-length: 100%;
  --divider-color: var(--line-color);
}

.nami-divider--vertical {
  width: var(--divider-length);
  height: 1px;
  margin-bottom: -1px;
  align-self: center;
  background: var(--divider-color);
}
.nami-space {
  align-self: stretch;
}

.nami-space--horizontal {
  width: var(--distance-horizontal);
}

.nami-space--vertical {
  height: var(--distance-vertical);
}

.nami-grid > .nami-space {
  flex: 0 0 calc(100% / var(--nami-grid-column-number));
}
.nami-grid--spacing > .nami-space {
  padding-left: calc(var(--distance-horizontal) / 2);
  padding-right: calc(var(--distance-horizontal) / 2);
}
.nami-grid--spacing-small > .nami-space {
  padding-left: calc(var(--distance-horizontal) / 4);
  padding-right: calc(var(--distance-horizontal) / 4);
}
.nami-grid--spacing-large > .nami-space {
  padding-left: calc(var(--distance-horizontal));
  padding-right: calc(var(--distance-horizontal));
}
.nami-flexible-space {
  align-self: stretch;
}

.nami-flexible-space--horizontal {
  flex: 1 0 var(--distance-horizontal);
}

.nami-flexible-space--vertical {
  flex: 1 0 var(--distance-vertical);
}

.nami-grid > .nami-flexible-space {
  flex-basis: 0;
}
.nami-grid--spacing > .nami-flexible-space {
  padding-left: calc(var(--distance-horizontal) / 2);
  padding-right: calc(var(--distance-horizontal) / 2);
}
.nami-grid--spacing-small > .nami-flexible-space {
  padding-left: calc(var(--distance-horizontal) / 4);
  padding-right: calc(var(--distance-horizontal) / 4);
}
.nami-grid--spacing-large > .nami-flexible-space {
  padding-left: calc(var(--distance-horizontal));
  padding-right: calc(var(--distance-horizontal));
}
.nami-textbox {
  --textbox-color: var(--text-color);
  --textbox-background: var(--background-color);
  --textbox-border-color: var(--line-color-loud);
  --textbox-focus-color: var(--text-color);
  --textbox-focus-background: var(--background-color);
  --textbox-focus-border-color: var(--primary-color);
  --textbox-focus-shadow-color: var(--primary-shadow-color);
  --textbox-disabled-color: var(--text-color-quiet);
  --textbox-disabled-background: var(--background-color-loud);
  --textbox-disabled-border-color: var(--line-color-loud);
}

.nami-textbox {
  display: inline-flex;
  width: 100%;
}
.nami-textbox > * {
  flex: 0 0 auto;
}

.nami-textbox__editor {
  height: var(--box-base-min-height);
  min-width: var(--box-base-min-height);
  padding: var(--box-base-padding-vertical) var(--box-base-padding-horizontal);
  border-style: solid;
  border-width: var(--box-base-border-width);
  border-radius: var(--box-base-border-radius);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  flex: 1 1 auto;
  color: var(--textbox-color);
  background: var(--textbox-background);
  border-color: var(--textbox-border-color);
  transition-property: border-color, box-shadow;
  transition-duration: 0.2s, 0.4s;
}
.nami-textbox__editor:hover, .nami-textbox__editor:focus {
  color: var(--textbox-focus-color);
  background: var(--textbox-focus-background);
  border-color: var(--textbox-focus-border-color);
}
.nami-textbox__editor:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--textbox-focus-shadow-color);
}
.nami-textbox__editor:read-only:hover, .nami-textbox__editor:read-only:focus {
  color: var(--textbox-color);
  background: var(--textbox-background);
  border-color: var(--textbox-border-color);
  box-shadow: none;
}
.nami-textbox__editor:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: var(--textbox-disabled-color);
  background: var(--textbox-disabled-background);
  border-color: var(--textbox-disabled-border-color);
}
.nami-textbox__editor::placeholder {
  color: var(--placeholder-color);
}

.nami-textbox--success {
  --textbox-border-color: var(--success-color);
  --textbox-focus-border-color: var(--success-color-loud);
  --textbox-focus-shadow-color: var(--success-shadow-color);
}

.nami-textbox--warning {
  --textbox-border-color: var(--warning-color);
  --textbox-focus-border-color: var(--warning-color-loud);
  --textbox-focus-shadow-color: var(--warning-shadow-color);
}

.nami-textbox--danger {
  --textbox-border-color: var(--danger-color);
  --textbox-focus-border-color: var(--danger-color-loud);
  --textbox-focus-shadow-color: var(--danger-shadow-color);
}
.nami-select {
  --select-color: var(--text-color);
  --select-background: var(--background-color);
  --select-border-color: var(--line-color-loud);
  --select-focus-color: var(--text-color);
  --select-focus-background: var(--background-color);
  --select-focus-border-color: var(--primary-color);
  --select-focus-shadow-color: var(--primary-shadow-color);
  --select-disabled-color: var(--text-color-quiet);
  --select-disabled-background: var(--background-color-loud);
  --select-disabled-border-color: var(--line-color-loud);
}

.nami-select {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: var(--box-base-min-height);
  min-width: var(--box-base-min-height);
  padding: var(--box-base-padding-vertical) var(--box-base-padding-horizontal);
  border-style: solid;
  border-width: var(--box-base-border-width);
  border-radius: var(--box-base-border-radius);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--select-color);
  background: var(--select-background);
  border-color: var(--select-border-color);
  transition-property: border-color, box-shadow;
  transition-duration: 0.2s, 0.4s;
  cursor: pointer;
}
.nami-select:hover, .nami-select:focus {
  color: var(--select-focus-color);
  background: var(--select-focus-background);
  border-color: var(--select-focus-border-color);
}
.nami-select:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--select-focus-shadow-color);
}
.nami-select--disabled, .nami-select--disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
  color: var(--select-disabled-color);
  background: var(--select-disabled-background);
  border-color: var(--select-disabled-border-color);
}
.nami-select--open .nami-select__arrows {
  transform: rotateX(180deg);
}
.nami-select__label {
  flex: 1 1 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nami-select__arrows {
  flex: 0 0 auto;
  transition: transform 0.2s;
  margin-left: calc(var(--distance-horizontal) / 2);
}

.nami-select--success {
  --select-border-color: var(--success-color);
  --select-focus-border-color: var(--success-color-loud);
  --select-focus-shadow-color: var(--success-shadow-color);
}

.nami-select--warning {
  --select-border-color: var(--warning-color);
  --select-focus-border-color: var(--warning-color-loud);
  --select-focus-shadow-color: var(--warning-shadow-color);
}

.nami-select--danger {
  --select-border-color: var(--danger-color);
  --select-focus-border-color: var(--danger-color-loud);
  --select-focus-shadow-color: var(--danger-shadow-color);
}

.nami-select-panel__option {
  height: var(--box-base-min-height);
  padding: var(--box-base-padding-vertical) var(--box-base-padding-horizontal);
  border-style: solid;
  border-width: var(--box-base-border-width);
  border-radius: var(--box-base-border-radius);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  border-color: transparent;
  cursor: pointer;
}
.nami-select-panel__option:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}
.nami-select-panel__option:not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.nami-select-panel__option:hover {
  background: var(--background-color-loud);
}
.nami-select-panel__option--disabled, .nami-select-panel__option--disabled:hover {
  color: var(--text-color-quiet);
  opacity: 0.5;
  cursor: not-allowed;
  background: transparent;
}
.nami-select-panel__option--selected, .nami-select-panel__option--selected:hover {
  background: var(--background-color-loud);
}
.nami-checkbox {
  display: inline-flex;
  align-items: baseline;
  cursor: pointer;
}
.nami-checkbox__cell {
  display: block;
  width: var(--nami-checkbox-size-base);
  height: var(--nami-checkbox-size-base);
  margin-right: calc(var(--distance-horizontal) * 0.4);
  align-self: center;
  position: relative;
}

.nami-checkbox__cell__frame {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid var(--line-color-loud);
  border-radius: 3px;
  background-color: transparent;
  transition: all 0.2s;
}

.nami-checkbox__cell__check {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 3px;
  color: #fff;
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s;
}

.nami-checkbox__cell__input {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

.nami-checkbox:hover .nami-checkbox__cell__frame {
  border-color: var(--primary-color);
}
.nami-checkbox--checked .nami-checkbox__cell__frame {
  border-color: var(--primary-color);
  background: var(--primary-color);
}
.nami-checkbox--checked .nami-checkbox__cell__check {
  opacity: 1;
  transform: scale(1);
}
.nami-checkbox--success .nami-checkbox__cell__frame {
  border-color: var(--success-color);
}
.nami-checkbox--success:hover .nami-checkbox__cell__frame {
  border-color: var(--success-color);
}
.nami-checkbox--success.nami-checkbox--checked .nami-checkbox__cell__frame {
  border-color: var(--success-color);
  background: var(--success-color);
}

.nami-checkbox--warning .nami-checkbox__cell__frame {
  border-color: var(--warning-color);
}
.nami-checkbox--warning:hover .nami-checkbox__cell__frame {
  border-color: var(--warning-color);
}
.nami-checkbox--warning.nami-checkbox--checked .nami-checkbox__cell__frame {
  border-color: var(--warning-color);
  background: var(--warning-color);
}

.nami-checkbox--danger .nami-checkbox__cell__frame {
  border-color: var(--danger-color);
}
.nami-checkbox--danger:hover .nami-checkbox__cell__frame {
  border-color: var(--danger-color);
}
.nami-checkbox--danger.nami-checkbox--checked .nami-checkbox__cell__frame {
  border-color: var(--danger-color);
  background: var(--danger-color);
}

.nami-checkbox--disabled {
  color: var(--text-color-quiet);
  pointer-events: none;
  opacity: 0.5;
}
.nami-checkbox--disabled .nami-checkbox__cell__frame {
  border-color: var(--line-color-loud);
  background: var(--background-color-loud);
}
.nami-checkbox--disabled.nami-checkbox--checked .nami-checkbox__cell__frame {
  border-color: transparent;
  background: var(--line-color-loud);
}
.nami-radio {
  display: inline-flex;
  align-items: baseline;
  cursor: pointer;
}
.nami-radio__cell {
  display: block;
  width: var(--nami-radio-size-base);
  height: var(--nami-radio-size-base);
  margin-right: calc(var(--distance-horizontal) * 0.4);
  align-self: center;
  position: relative;
}

.nami-radio__cell__frame {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid var(--line-color-loud);
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.2s;
}

.nami-radio__cell__check {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  z-index: 1;
  width: calc(var(--nami-radio-size-base) - 8px);
  height: calc(var(--nami-radio-size-base) - 8px);
  background: var(--primary-color);
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
  transition: all 0.15s;
}

.nami-radio__cell__input {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

.nami-radio:hover .nami-radio__cell__frame {
  border-color: var(--primary-color);
}
.nami-radio__cell__input:checked ~ .nami-radio__cell__frame {
  border-color: var(--primary-color);
}
.nami-radio__cell__input:checked ~ .nami-radio__cell__check {
  opacity: 1;
  transform: scale(1);
}

.nami-radio--success .nami-radio__cell__frame {
  border-color: var(--success-color);
}
.nami-radio--success .nami-radio__cell__check {
  background: var(--success-color);
}
.nami-radio--success:hover .nami-radio__cell__frame {
  border-color: var(--success-color);
}
.nami-radio--success .nami-radio__cell__input:checked ~ .nami-radio__cell__frame {
  border-color: var(--success-color);
}

.nami-radio--warning .nami-radio__cell__frame {
  border-color: var(--warning-color);
}
.nami-radio--warning .nami-radio__cell__check {
  background: var(--warning-color);
}
.nami-radio--warning:hover .nami-radio__cell__frame {
  border-color: var(--warning-color);
}
.nami-radio--warning .nami-radio__cell__input:checked ~ .nami-radio__cell__frame {
  border-color: var(--warning-color);
}

.nami-radio--danger .nami-radio__cell__frame {
  border-color: var(--danger-color);
}
.nami-radio--danger .nami-radio__cell__check {
  background: var(--danger-color);
}
.nami-radio--danger:hover .nami-radio__cell__frame {
  border-color: var(--danger-color);
}
.nami-radio--danger .nami-radio__cell__input:checked ~ .nami-radio__cell__frame {
  border-color: var(--danger-color);
}

.nami-radio--disabled {
  color: var(--text-color-quiet);
  pointer-events: none;
  opacity: 0.5;
}
.nami-radio--disabled .nami-radio__cell__frame {
  border-color: var(--line-color-loud);
  background: var(--background-color-loud);
}
.nami-radio--disabled .nami-radio__cell__check {
  background: var(--line-color-loud);
}
.nami-radio--disabled .nami-radio__cell__input:checked ~ .nami-radio__cell__frame {
  border-color: var(--line-color-loud);
  background: transparent;
}
.nami-slider {
  --slider-knob-length: 18px;
  --slider-knob-breadth: 18px;
  --slider-bar-breadth: 6px;
  --slider-bar-color: var(--line-color);
  --slider-fill-color: var(--primary-color);
  --slider-knob-color: var(--primary-color);
  --slider-hover-bar-color: var(--line-color-loud);
  --slider-hover-fill-color: var(--primary-color-loud);
  --slider-hover-knob-color: var(--primary-color-loud);
  --slider-hover-knob-scale: 1.2;
}
.nami-slider__fill {
  --slider-fill-start: 0;
  --slider-fill-end: 0;
}
.nami-slider__knob {
  --slider-knob-position: 0%;
}

.nami-slider {
  cursor: pointer;
}
.nami-slider:hover .nami-slider__bar, .nami-slider--active .nami-slider__bar {
  background: var(--slider-hover-bar-color);
}
.nami-slider:hover .nami-slider__fill, .nami-slider--active .nami-slider__fill {
  background: var(--slider-hover-fill-color);
}
.nami-slider__container {
  margin-right: calc(var(--slider-knob-length) / 2);
  margin-left: calc(var(--slider-knob-length) / 2);
  padding-top: calc((var(--slider-knob-breadth) - var(--slider-bar-breadth)) / 2);
  padding-bottom: calc((var(--slider-knob-breadth) - var(--slider-bar-breadth)) / 2);
  position: relative;
  flex: 1 1 auto;
}
.nami-slider__bar {
  height: var(--slider-bar-breadth);
  border-radius: var(--slider-bar-breadth);
  background: var(--slider-bar-color);
  overflow: hidden;
  position: relative;
  transition: background 0.2s;
}
.nami-slider__fill {
  width: calc(var(--slider-fill-end) - var(--slider-fill-start));
  height: var(--slider-bar-breadth);
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--slider-fill-start);
  z-index: 1;
  background: var(--slider-fill-color);
  transition: background 0.2s;
}
.nami-slider__knob {
  width: var(--slider-knob-length);
  height: var(--slider-knob-breadth);
  position: absolute;
  top: 0;
  left: var(--slider-knob-position);
  z-index: 1;
  margin-left: calc(var(--slider-knob-length) / -2);
  border-radius: var(--slider-knob-breadth);
  background: var(--background-color);
  border: 2px solid var(--slider-knob-color);
  transition: border-color 0.2s, transform 0.2s;
  position: absolute;
}
.nami-slider__knob:after {
  content: " ";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  z-index: 1;
}
.nami-slider__knob:hover, .nami-slider__knob--active {
  border-color: var(--slider-hover-knob-color);
  transform: scale(var(--slider-hover-knob-scale));
}
.nami-slider__knob-tip {
  --popover-foreground: #fff;
  --popover-background: rgba(0, 0, 0, 0.8);
  --popover-shadow: none;
  --popover-arrow-top-shadow: none;
  --popover-arrow-right-shadow: none;
  --popover-arrow-bottom-shadow: none;
  --popover-arrow-left-shadow: none;
}
.nami-slider__knob-tip .nami-popover__inner {
  text-align: center;
  padding: 5px 15px;
}

.nami-slider--success {
  --slider-fill-color: var(--success-color);
  --slider-knob-color: var(--success-color);
  --slider-hover-fill-color: var(--success-color-loud);
  --slider-hover-knob-color: var(--success-color-loud);
}

.nami-slider--warning {
  --slider-fill-color: var(--warning-color);
  --slider-knob-color: var(--warning-color);
  --slider-hover-fill-color: var(--warning-color-loud);
  --slider-hover-knob-color: var(--warning-color-loud);
}

.nami-slider--danger {
  --slider-fill-color: var(--danger-color);
  --slider-knob-color: var(--danger-color);
  --slider-hover-fill-color: var(--danger-color-loud);
  --slider-hover-knob-color: var(--danger-color-loud);
}

.nami-slider--disabled {
  --slider-fill-color: var(--line-color-loud);
  --slider-knob-color: var(--line-color-loud);
  pointer-events: none;
  opacity: 0.5;
}
