@charset "utf-8";

$rio-class: rio;
$rio-font-size-base: var(--font-size-base);
$rio-text-color: var(--text-color);
$rio-text-color-quiet: var(--text-color-quiet);
$rio-text-color-loud: var(--text-color-loud);
$rio-link-color: var(--link-color);
$rio-link-hover-color: var(--link-focus-color);
$rio-link-focus-color: var(--link-focus-color);
$rio-link-active-color: var(--link-focus-color);
$rio-link-visited-color: var(--link-visited-color);
$rio-block-el-border-color: var(--line-color);
$rio-block-el-bg-color: var(--background-color-loud);
$rio-title-margin-top: 1.5em;
$rio-title-margin-bottom: 1em;
$rio-code-bg: var(--background-color-loud);
$rio-code-family: var(--monospace-font-family);
$rio-code-size: var(--font-size-small);
$rio-code-block-line-height: 1.8;
@import '@node//rio-typesetting/sass/rio';

@import '@node//nojiko/sass/nojiko';
@import '@node//nojiko/sass/variables';
@import '@node//nojiko/sass/elements';

// 额外增加两个级别的内外边距
@include el-margin(null, '-xs', 5px, 5px);
@include el-margin(null, '-xl', 40px, 40px);
@include el-padding(null, '-xs', 5px, 5px);
@include el-padding(null, '-xl', 40px, 40px);

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 14px/24px PingFangSC sans-serif;
    color: #333;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:focus,
a:hover {
    color: var(--link-focus-color);
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

code {
    font-family: var(--monospace-font-family);
}
