@charset "utf-8";

@import '@nami//styles/basis';
@import './utils';

// item
// -----------------------------------------------------------------------------

.nami-menu,
.nami-menu__item-group__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nami-menu__item {
    position: relative;

    &--active {
        z-index: 1;

        > .nami-menu__item__header {
            color: var(--text-color);
            cursor: pointer;
        }
    }

    &--open {
        > .nami-menu__item__header {
            .nami-menu__item__header__arrows {
                transform: rotateX(180deg);
            }
        }
    }

    &--disabled {
        cursor: not-allowed;

        > .nami-menu__item__header {
            pointer-events: none;
            opacity: 0.5;
        }

        > .nami-menu--submenu {
            cursor: auto;
        }

        &.nami-menu__item--active {
            > .nami-menu__item__header {
                color: var(--text-color-quiet);
            }
        }
    }

    &__header {
        @extend %nami-menu__item;
        color: var(--text-color-quiet);

        &__arrows {
            $size: calc(1em - 2px);

            box-sizing: content-box;

            width: $size;
            height: $size;
            margin-left: 0.6em;

            transition: transform 0.2s;
        }
    }
}

.nami-menu__item-group {
    display: flex;

    &__header {
        @extend %nami-menu__item;
        color: var(--text-color-quiet);
        opacity: 0.6;
    }
}

// vertical mode
// -----------------------------------------------------------------------------

%nami-menu--vertical--common {
    .nami-menu__item-group {
        flex-direction: column;

        &:not(:first-child) {
            padding-top: calc(var(--distance-vertical) * 0.5);
        }
    }
}

.nami-menu--vertical {
    @extend %nami-menu--vertical--common;

    .nami-menu__item,
    .nami-menu__item-group {
        @include nami-menu__item--indent();
    }
}

.nami-menu--popover {
    @extend %nami-menu--vertical--common;

    .nami-menu__item--open {
        > .nami-menu__item__header {
            .nami-menu__item__header__arrows {
                transform: rotateY(180deg);
            }
        }
    }

    .nami-menu__item--active {
        > .nami-menu__item__header {
            background: var(--background-color-loud);
        }
    }
}
