@charset "utf-8";

@import '@nami//styles/basis';
@import './utils';

.menu {
    display: flex;
}

// item
// -----------------------------------------------------------------------------

.menu__item {
    position: relative;
}

.menu__item--active {
    z-index: 1;
}

.menu__item__header {
    @extend %menu__header;

    padding: var(--menu-item-header-padding-vertical) var(--menu-item-header-padding-horizontal);

    font-size: var(--menu-item-header-font-size);
    line-height: var(--menu-item-header-line-height);
    color: var(--menu-item-header-color);

    > a {
        color: inherit;

        &:after {
            content: '';
            @include position(absolute, 0, 1);
        }

        &:hover,
        &:focus,
        &:visited {
            color: inherit;
            text-decoration: none;
        }
    }

    .menu__item--active > & {
        color: var(--menu-item-header-active-color);
        cursor: pointer;
    }
}

.menu__item__header__arrows {
    $size: calc(1em - 2px);

    box-sizing: content-box;

    width: $size;
    height: $size;
    padding-left: 0.4em;
    margin-left: auto;
}

// item group
// -----------------------------------------------------------------------------

.menu__item-group {
    display: flex;
}

.menu__item-group__header {
    @extend %menu__header;

    padding: var(--menu-item-group-header-padding-vertical)
        var(--menu-item-group-header-padding-horizontal);

    font-size: var(--menu-item-group-header-font-size);
    line-height: var(--menu-item-group-header-line-height);
    color: var(--menu-item-group-header-color);

    opacity: 0.6;
}

// submenu
// -----------------------------------------------------------------------------

.menu--submenu {
    flex-direction: column;
}

// horizontal mode
// -----------------------------------------------------------------------------

.menu--horizontal {
    flex-direction: row;

    // item group
    // ---------------------------

    > .menu__item-group:not(:first-child) {
        > .menu__item-group__header {
            padding-left: calc(
                var(--menu-item-group-header-padding-horizontal) + var(--distance-horizontal) * 0.5
            );
        }
    }

    // divider, space, flexible-space
    // ---------------------------

    .menu__divider {
        display: flex;
        align-items: center;

        > .menu__divider__inner {
            height: calc(100% - var(--menu-item-header-padding-vertical) * 2);
            border-left: 1px solid var(--line-color);
        }
    }

    .menu__space {
        flex: 0 0 var(--distance-horizontal);
    }

    .menu__flexible-space {
        flex: 1 0 var(--distance-horizontal);
    }

    // submenu
    // ---------------------------

    .menu--submenu {
        $br: var(--menu-submenu-popup-border-radius);

        position: absolute;
        left: calc(100% + 4px);
        top: 0;

        background: var(--background-color);
        box-shadow: 0 0 0 1px var(--line-color);
        border-radius: $br;

        display: none;

        // 确保圆角不被子元素遮盖
        > .menu__item:first-child > .menu__item__header {
            border-radius: $br $br 0 0;
        }

        > .menu__item:last-child > .menu__item__header,
        > .menu__item-group:last-child > .menu__item:last-child > .menu__item__header {
            border-radius: 0 0 $br $br;
        }

        // 给处于激活状态的菜单项头部添加一些背景色，使其更加突显
        .menu__item--active {
            > .menu__item__header {
                background-color: var(--background-color-loud);
            }
        }

        > .menu__item-group {
            flex-direction: column;

            &:not(:first-child) {
                > .menu__item-group__header {
                    padding-top: calc(
                        var(--menu-item-group-header-padding-vertical) + var(--distance-vertical) *
                            0.5
                    );
                }
            }
        }

        .menu__divider {
            border-top: 1px solid var(--line-color);

            > .menu__divider__inner {
                display: none;
            }
        }
    }

    .menu__item--open > .menu--submenu {
        display: flex;
    }

    // 水平布局菜单中，一级菜单项中的子菜单在菜单项的下方弹出，
    // 且其宽度不得小于其所在菜单项的宽度，否则不好看。
    > .menu__item > .menu--submenu,
    > .menu__item-group > .menu__item > .menu--submenu {
        min-width: 100%;
        top: calc(100% + 6px);
        left: 0;
    }
}

// horizontal mode
// -----------------------------------------------------------------------------

.menu--vertical {
    flex-direction: column;

    // item group
    // ---------------------------

    .menu__item-group {
        flex-direction: column;

        &:not(:first-child) {
            .menu__item-group__header {
                padding-top: calc(
                    var(--menu-item-group-header-padding-vertical) + var(--distance-vertical) * 0.5
                );
            }
        }

        > :not(.menu__item-group__header) {
            margin-left: var(--menu-item-group-indent);
        }
    }

    // divider, space, flexible-space
    // ---------------------------

    .menu__divider {
        border-top: 1px solid var(--line-color);
    }

    .menu__space {
        flex: 0 0 var(--distance-vertical);
    }

    .menu__flexible-space {
        flex: 1 0 var(--distance-vertical);
    }

    // submenu
    // ---------------------------

    .menu--submenu {
        display: none;
        margin-left: var(--distance-horizontal);
    }

    .menu__item--open > .menu--submenu {
        display: flex;
    }
}
