@charset "utf-8";

@import '@nami//styles/basis';

.nami-space {
    align-self: stretch;
}

.nami-space--horizontal {
    width: var(--distance-horizontal);
}

.nami-space--vertical {
    height: var(--distance-vertical);
}
