@use '~nojiko/sass/nojiko';
@use "../../styles/nami";

.nami-color {
    color: red;
}

.nami-color__screen {
    box-sizing: border-box;

    width: var(--nami-color__screen--size);
    height: var(--nami-color__screen--size);
    min-width: var(--nami-color__screen--size);
    min-height: var(--nami-color__screen--size);

    @each $name in (small, large) {
        &--size-#{$name} {
            --nami-color__screen--size: var(--nami-color__screen--size-#{$name});
        }
    }

    border-radius: 50px;
    overflow: hidden;

    $bg-linear: linear-gradient(45deg, #afafaf 25%, transparent 25%, transparent 75%, #afafaf 75%);
    background: $bg-linear 0 0 / 14px 14px, $bg-linear 7px 7px / 14px 14px, #fff;

    &:after {
        content: '';

        display: block;
        width: 100%;
        height: 100%;

        background-color: var(--nami-color__screen--color);
    }
}

.nami-color__hue-slider {
    height: 20px;
    border-radius: 10px;

    background: linear-gradient(
        90deg,
        hsl(0, 100%, 50%) 10px,
        hsl(60, 100%, 50%),
        hsl(120, 100%, 50%),
        hsl(180, 100%, 50%),
        hsl(240, 100%, 50%),
        hsl(300, 100%, 50%),
        hsl(360, 100%, 50%) calc(100% - 10px)
    );

    cursor: pointer;

    &__knob-bar {
        margin-left: 5px;
        margin-right: 15px;
        height: 100%;
        position: relative;
    }

    &__knob {
        box-sizing: border-box;

        @include nojiko.position(absolute, 5px null null var(--nami-color__hue-slider--percent));

        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: hsl(var(--nami-color__hue-slider--value), 100%, 50%);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, var(--nami-color__hue-slider--knob-shadow)),
            0 0 0 3px #fff;

        @include nojiko.expand-scope(-10px, $position: null);
    }
}
