@charset "utf-8";

@import '../../styles/basis';

.nami-grid {
    display: flex;
    flex-wrap: wrap;

    @each $name, $val in $grid-justify {
        &--justify-#{$name} {
            justify-content: $val or $name;
        }
    }

    @each $name, $val in $grid-align {
        &--align-#{$name} {
            align-items: $val or $name;
        }
    }

    @include grid-spacing();
    @include grid-childrens-spacing('.nami-grid__col');
}

.nami-grid__col {
    flex: 1 1 0;

    @for $i from 1 through 24 {
        &--#{$i} {
            @include grid-width($i);
        }

        &--offset-#{$i} {
            @include grid-offset($i);
        }
    }

    @each $name, $val in $grid-align {
        &--align-#{$name} {
            align-self: $val or $name;
        }
    }
}
