@charset "utf-8";

.app-masthead {
    width: 782px;
    margin: auto;
    padding: 50px;

    flex: 0 0 auto;
}

.app-masthead__logo {
    width: 100%;
    height: auto;
}

.app-masthead__slogen {
    margin: 20px 0;

    font-size: 47px;
    line-height: 60px;
    color: var(--text-color);
    text-align: center;
    font-weight: 300;
}
