@charset "utf-8";

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-view {
    flex: 1 0 auto;

    display: flex;
    justify-content: center;

    width: 100%;
    max-width: 1440px;
}

.app-sidebar {
    flex: 0 0 270px;
    padding: calc(var(--distance-vertical) * 2) var(--distance-horizontal);
}

.app-content {
    flex: 1 1 auto;
    max-width: 840px;
    padding: calc(var(--distance-vertical) * 2) calc(var(--distance-horizontal) * 1);
}
