@charset "utf-8";

@import '~nojiko/sass/nojiko';
@import './functions';
@import './box';

/// -----------------------------------------------------------------------------
/// sass utils
/// -----------------------------------------------------------------------------

// grid
// ---------------------------

$grid-justify: (
    (start, flex-start),
    (end, flex-end),
    (center),
    (between, space-between),
    (around, space-around)
);

$grid-align: ((start, flex-start), (end, flex-end), (center));

$grid-spacing: (
    ('', calc(var(--distance-horizontal) / 2)),
    ('small', calc(var(--distance-horizontal) / 4)),
    ('large', calc(var(--distance-horizontal)))
);

@function grid-spacing-classname-suffix($spacing-name) {
    @return '--spacing' + if(str-length($spacing-name) == 0, '', '-#{$spacing-name}');
}

@mixin grid-spacing() {
    @each $name, $half-spacing-width in $grid-spacing {
        &#{grid-spacing-classname-suffix($name)} {
            margin-left: calc(#{$half-spacing-width} * -1);
            margin-right: calc(#{$half-spacing-width} * -1);
        }
    }
}

@mixin grid-childrens-spacing($classname) {
    @each $name, $half-spacing-width in $grid-spacing {
        &#{grid-spacing-classname-suffix($name)} > #{$classname} {
            padding-left: $half-spacing-width;
            padding-right: $half-spacing-width;
        }
    }
}

@mixin grid-width($count) {
    flex: 0 0 calc(#{100% * $count} / var(--nami-grid-column-number));
}

@mixin grid-offset($count) {
    margin-left: calc(#{100% * $count} / var(--nami-grid-column-number));
}
