@charset "utf-8";

/// 移除一个数字类型值的单位
/// @link https://css-tricks.com/snippets/sass/strip-unit-function/ Strip-unit Function
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

/// 限定某个值在指定的区间内
/// @param {number} $val - 待限定的值；
/// @param {number} $min - 最小值；
/// @param {number} $max - 最大值；
@function limit($val, $min, $max) {
    @return max($min, min($val, $max));
}

/// 展开使用缩写格式声明的方向类型复合值，比如 margin，padding 属性的值。
///
/// @access private
///
/// @param {list} $shorthand - 待展开的数据
///
/// @example scss
///     expand(1px);             // 1px 1px 1px 1px
///     expand(1px 2px);         // 1px 2px 1px 2px
///     expand(1px 2px 3px);     // 1px 2px 3px 2px
///     expand(1px 2px 3px 4px); // 1px 2px 3px 4px
@function expand($shorthand) {
    @if length($shorthand) == 1 {
        @return nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1);
    } @else if length($shorthand) == 2 {
        @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 1) nth($shorthand, 2);
    } @else if length($shorthand) == 3 {
        @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 3) nth($shorthand, 2);
    } @else {
        @return $shorthand;
    }
}

/// 合并四个方向值为缩写形式。
///
/// @access private
///
/// @param {list} $expand - 包含待合并的四个值的列表
///
/// @example scss
///     shorthand(1px 1px 1px 1px); // 1px
///     shorthand(1px 2px 1px 2px); // 1px 2px
///     shorthand(1px 2px 3px 2px); // 1px 2px 3px
///     shorthand(1px 2px 3px 4px); // 1px 2px 3px 4px
@function shorthand($expand) {
    $t: nth($expand, 1);
    $r: nth($expand, 2);
    $b: nth($expand, 3);
    $l: nth($expand, 4);

    @if ($t == $r and $t == $b and $t == $l) {
        @return $t;
    } @else if ($t == $b and $l == $r) {
        @return $t $l;
    } @else if ($l == $r) {
        @return $t $l $b;
    } @else {
        @return $t $r $b $l;
    }
}
