:root {
    /// -----------------------------------------------------------------------------
    /// Basic
    /// -----------------------------------------------------------------------------

    /// 布局
    /// ---------------------------

    /// 模块之间的垂直间距
    --distance-vertical: 20px;
    /// 模块之间的水平间距
    --distance-horizontal: 20px;

    /// 排版
    /// ---------------------------

    /// 默认文字大小
    --font-size-base: 14px;
    /// 较大文字大小
    --font-size-large: 16px;
    /// 较小文字大小
    --font-size-small: 12px;

    /// 默认文字行高，该变量与 $font-size-base 对应
    --line-height-base: 24px;
    /// 较大文字行高，该变量与 $font-size-large 对应
    --line-height-large: 28px;
    /// 较小文字行高，该变量与 $font-size-small 对应
    --line-height-small: 20px;

    /// 字体
    --font-family: sans-serif;
    /// 等宽字体
    --monospace-font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;

    /// 配色
    /// ---------------------------

    /// 主色调
    --primary-color: #5ba6e6;
    /// 强调主色调
    --primary-color-loud: #4898e2;
    /// 次要主色调
    --primary-color-quiet: #74b6ea;
    /// 背景主色调
    --primary-background-color: #{rgba(#5ba6e6, 0.27)};

    /// 消息色
    /// 非重要性的提示内容，可使用该色调。
    --info-color: #5ec9e5;
    /// 强调消息色
    --info-color-loud: #5bbfde;
    /// 次要消息色
    --info-color-quiet: #6fd3ed;
    /// 背景消息色
    --info-background-color: #{rgba(#5ec9e5, 0.27)};

    /// 成功色
    /// 表示成功状态的内容，可使用该色调。
    --success-color: #5cb85c;
    /// 强调成功色
    --success-color-loud: #3eab3e;
    /// 次要成功色
    --success-color-quiet: #7ac479;
    /// 背景成功色
    --success-background-color: #{rgba(#5cb85c, 0.27)};

    /// 警告色
    /// 具有警告性质的内容，需要提示用户关注时，可使用该色调。
    --warning-color: #ed9b2b;
    /// 强调警告色
    --warning-color-loud: #eb8b0c;
    /// 次要警告色
    --warning-color-quiet: #f0ad4e;
    /// 背景警告色
    --warning-background-color: #{rgba(#ed9b2b, 0.27)};

    /// 危险色
    /// 表示危险、错误或非法等内容，需要用户立即关注或处理时，可使用该色调。
    --danger-color: #d9544f;
    /// 强调危险色
    --danger-color-loud: #db4537;
    /// 次要危险色
    --danger-color-quiet: #d27170;
    /// 背景危险色
    --danger-background-color: #{rgba(#d9544f, 0.27)};

    /// 背景色
    --background-color: #fff;
    /// 强调背景色
    --background-color-loud: #f0f0f1;
    /// 次要背景色
    --background-color-quiet: #f6f6f7;

    /// 边线颜色
    --line-color: #d2d4d6;
    /// 强调边框颜色
    --line-color-loud: #959ca2;
    /// 次要边框颜色
    --line-color-quiet: #b5b8bb;

    /// 文本颜色
    --text-color: #333333;
    /// 强调文本颜色
    --text-color-loud: #131313;
    /// 次要文本颜色
    --text-color-quiet: #7d8790;

    /// 占位符文本颜色
    --placeholder-color: #959ca2;

    /// 链接颜色
    --link-color: var(--primary-color);
    /// 链接获取到焦点时的颜色
    --link-focus-color: var(--primary-color-quiet);
    /// 已访问过的链接的颜色
    --link-visited-color: var(--primary-color);

    /// -----------------------------------------------------------------------------
    /// Components
    /// -----------------------------------------------------------------------------

    /// Grid
    /// ---------------------------

    /// 栅格列数
    --grid-column-number: 24;

    /// Menu
    /// ---------------------------

    /// 菜单项头部垂直内边距
    --menu-item-header-padding-vertical: 8px;
    /// 菜单项头部水平内边距
    --menu-item-header-padding-horizontal: calc(var(--distance-horizontal) * 0.75);
    /// 菜单项头部文字大小
    --menu-item-header-font-size: var(--font-size-base);
    /// 菜单项头部文字行高
    --menu-item-header-line-height: var(--line-height-base);
    /// 菜单项头部文本颜色
    --menu-item-header-color: var(--text-color-quiet);
    /// 菜单项头部中的箭头图标的尺寸
    --menu-item-header-arrows-size: var(--font-size-small);
    /// 菜单项激活时的头部文本颜色
    --menu-item-header-active-color: var(--text-color);

    /// 菜单项头部垂直内边距
    --menu-item-group-header-padding-vertical: 8px;
    /// 菜单项头部水平内边距
    --menu-item-group-header-padding-horizontal: calc(var(--distance-horizontal) * 0.75);
    /// 菜单分组头部文字大小
    --menu-item-group-header-font-size: var(--font-size-small);
    /// 菜单分组头部文字行高
    --menu-item-group-header-line-height: var(--menu-item-header-line-height);
    /// 菜单分组头部文本颜色
    --menu-item-group-header-color: var(--text-color-quiet);
    /// 菜单分组中的菜单项的缩进量
    --menu-item-group-indent: calc(var(--distance-horizontal) * 0.75);

    /// 弹出式子菜单圆角
    --menu-submenu-popup-border-radius: 6px;

    /// Button
    /// ---------------------------

    --button-size-base: 38px;

    /// Popup
    /// ---------------------------

    /// 弹出层圆角
    --popup-radius: 4px;
    /// 弹出层阴影
    --popup-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35);
    /// 弹出层层级
    --popup-z-index: 2;
    /// 弹出层箭头尺寸
    --popup-arrow-size: 14px;
    /// 弹出层箭头圆角
    --popup-arrow-radius: 2px;
    /// 弹出层箭头距离边角的最小距离
    --popup-arrow-margin: calc(var(--popup-radius) + 10px);
    /// 弹出层箭头阴影
    --popup-arrow-top-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.84);
    --popup-arrow-right-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.74);
    --popup-arrow-bottom-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.54);
    --popup-arrow-left-shadow: 1px -1px 1px -1px rgba(0, 0, 0, 0.74);
}
