@charset "utf-8";

@import '../../styles/basis';

.nami-flexible-space {
    align-self: stretch;
}

.nami-flexible-space--horizontal {
    flex: 1 0 var(--distance-horizontal);
}

.nami-flexible-space--vertical {
    flex: 1 0 var(--distance-vertical);
}

.nami-grid {
    > .nami-flexible-space {
        flex-basis: 0;
    }

    @include grid-childrens-spacing('.nami-flexible-space');
}
