@charset "utf-8";

@use '../../styles/nami';

.nami-space {
    --nami-space--size: var(--distance-horizontal);

    @each $name,
        $val
            in (
                small: calc(var(--distance-horizontal) / 2),
                large: calc(var(--distance-horizontal) * 2)
            )
    {
        &--size-#{$name} {
            --nami-space--size: #{$val};
        }
    }

    flex-basis: var(--nami-space--size);
}
