@charset "utf-8";

@import '@nami//styles/basis';

.nami-space {
    align-self: stretch;
}

.nami-space--horizontal {
    width: var(--distance-horizontal);
}

.nami-space--vertical {
    height: var(--distance-vertical);
}

.nami-grid {
    > .nami-space {
        // TODO: 需要一个通用的混入类来设置栅格列宽
        width: calc(100% / var(--nami-grid-column-number));
    }
}
