@charset "utf-8";

@import '../../styles/basis';

.nami-divider--horizontal {
    --divider-length: calc(1em + 4px);
    --divider-color: var(--line-color);
}

.nami-divider--horizontal {
    width: 1px;
    height: var(--divider-length);
    margin-right: -1px;
    align-self: center;

    background: var(--divider-color);
}

.nami-divider--vertical {
    --divider-length: 100%;
    --divider-color: var(--line-color);
}

.nami-divider--vertical {
    width: var(--divider-length);
    height: 1px;
    margin-bottom: -1px;
    align-self: center;

    background: var(--divider-color);
}
