@charset "utf-8";

@use '../../styles/nami';

.nami-divider--vertical {
    width: 1px;
    min-height: var(--nami-divider--length-vertical);
    background: var(--nami-divider--color);
}

.nami-divider--horizontal {
    height: 1px;
    min-width: var(--nami-divider--length-horizontal);
    background: var(--nami-divider--color);
}
