@charset "utf-8";

@import '../../styles/basis';

.nami-navbar {
    display: flex;
    align-items: center;

    height: 100px;
    padding: 0 calc(var(--distance-horizontal) * 2.5);

    > .nami-navbar-brand {
        margin-right: calc(var(--distance-horizontal) * 1.25);
    }

    > .nami-menu {
        flex: 1 1 auto;

        &,
        > .nami-menu__item-group {
            > .nami-menu__item > .nami-menu__item__header {
                font-size: var(--font-size-large);
                line-height: var(--line-height-large);
            }
        }
    }
}

.nami-navbar-brand {
    $height: 44px;

    height: $height;
    flex: 0 0 auto;

    font-size: calc(var(--font-size-large) * 1.25);
    line-height: $height;

    color: var(--text-color-loud);

    a {
        color: inherit;

        &:hover,
        &:focus,
        &:visited {
            color: inherit;
            text-decoration: none;
        }
    }

    img {
        display: block;
        height: $height;
    }
}
