@charset "utf-8";

.app-document {
    em {
        font-style: normal;
    }

    pre > code {
        margin: 0;
    }

    table {
        tbody {
            font-size: var(--font-size-small);
        }

        th {
            white-space: nowrap;
        }

        code {
            font-size: inherit;
            padding: 0;
            background: transparent;

            &:not(:first-child) {
                margin-left: 4px;
            }

            &:not(:last-child) {
                margin-right: 4px;
            }
        }

        td {
            vertical-align: top;
        }
    }
}
