@charset "utf-8";

.app-document {
    em {
        font-style: normal;
        color: var(--text-color-quiet);
    }

    pre > code {
        margin: 0;
    }

    &__title {
        > span {
            margin-left: 0.5em;
        }
    }

    &__props {
        tbody {
            font-size: var(--font-size-small);
        }

        code {
            font-size: inherit;
            padding: 0;
            background: transparent;
        }

        thead th,
        &__name,
        &__type,
        &__default {
            white-space: nowrap;
        }
    }
}
