@charset "utf-8";

@mixin button-solid($color, $hover-color, $active-color) {
    border-color: $color;
    background-color: $color;

    color: var(--background-color);

    &:hover,
    &:focus {
        border-color: $hover-color;
        background-color: $hover-color;

        color: var(--background-color);
    }

    &:active {
        border-color: $active-color;
        background-color: $active-color;

        color: var(--background-color);
    }
}

@mixin button-outline($color, $hover-color, $active-color) {
    border-color: $color;
    color: $color;

    &:hover,
    &:focus {
        border-color: $hover-color;
        background-color: $hover-color;
        color: var(--background-color);
    }

    &:active {
        border-color: $active-color;
        background-color: $active-color;
        color: var(--background-color);
    }
}

@mixin button-flat($color) {
    color: $color;

    &:hover,
    &:focus {
        color: $color;
    }

    &:active {
        color: $color;
    }
}
