@charset "utf-8";

@import '@nami//styles/basis';
@import './utils';

.nami-button,
.nami-button__text {
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.nami-button {
    $size: var(--nami-button-size-base);
    $pv: calc(var(--distance-vertical) * 0.25);
    $ph: calc(var(--distance-horizontal) * 1.25);
    $f: var(--font-size-base);
    $b: 1px;
    $br: 4px;

    height: $size;
    min-width: $size;
    padding: $pv $ph;

    font-size: $f;
    line-height: calc(#{$size} - #{$pv} * 2 - #{$b} * 2);
    text-align: center;

    border-radius: 4px;

    background-color: var(--background-color);
    border: $b solid var(--line-color);
    color: inherit;

    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover,
    &:focus {
        border-color: var(--primary-color-quiet);
        background-color: var(--primary-color-quiet);
        color: var(--background-color);
    }

    &:active {
        border-color: var(--primary-color-loud);
        background-color: var(--primary-color-loud);
        color: var(--background-color);
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

@each $name in primary, info, success, warning, danger {
    .nami-button--#{$name} {
        @include button-solid(
            var(--#{$name}-color),
            var(--#{$name}-color-quiet),
            var(--#{$name}-color-loud)
        );
    }
}

.nami-button--outline {
    background-color: transparent;

    @include button-outline(var(--text-color), var(--text-color), var(--text-color-loud));

    @each $name in primary, info, success, warning, danger {
        &.nami-button--#{$name} {
            @include button-outline(
                var(--#{$name}-color),
                var(--#{$name}-color-quiet),
                var(--#{$name}-color-loud)
            );
        }
    }
}

.nami-button--flat {
    background-color: transparent;
    border-color: transparent;

    &:hover,
    &:focus {
        color: inherit;
        border-color: transparent;
        background-color: var(--background-color-quiet);
    }

    &:active {
        color: inherit;
        border-color: transparent;
        background-color: var(--background-color-loud);
    }

    @each $name in primary, info, success, warning, danger {
        &.nami-button--#{$name} {
            @include button-flat(var(--#{$name}-color));
        }
    }
}

.nami-button--round {
    border-radius: 100px;
}

.nami-button--circle {
    padding-left: 0;
    padding-right: 0;
    border-radius: 100px;
}
